<%include ./partials/header.ejs%>
<div
  class="w-full min-h-screen bg-zinc-800 px-10 py-10 flex flex-wrap gap-10 overflow-hidden"
>
  <%if(data && data.length > 0 && data[0].image){%> <%data.forEach((e)=>{%>

  <div class="show-card block h-[200px] w-40 overflow-x-hidden overflow-y-auto">
    <div class="bg-white h-40 w-40 block rounded-lg overflow-hidden">
      <img
        class="w-full h-full object-cover bg-center"
        src="/images/uploads/<%=e.image%>"
        alt=""
      />
    </div>
    <div class="flex items-center gap-2 mt-2">
      <div class="h-[40px] w-[40px] bg-white overflow-hidden rounded-full">
        <img
          class="w-full h-full"
          src="/images/uploads/<%=e.user.profileImage%>"
          alt=""
        />
      </div>
      <h1 class="text-white text-xl font-bold">@<%= e.user.username%></h1>
    </div>
    <h2 class="text-white"><%= e.title%></h2>
    <h4 class="text-white text-justify text-[10px]"><%= e.description%></h4>
  </div>

  <%})%> <%}else{%>

  <h1
    class="text-white absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-semibold text-3xl"
  >
    No Posts
  </h1>

  <%}%>
</div>
<%include ./partials/footer.ejs%>
